In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [2]:
#importing dataset
dataset = pd.read_csv("/content/Company_Data.csv")

In [3]:
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
label_encoder = preprocessing.LabelEncoder()
dataset['ShelveLoc'] = label_encoder.fit_transform(dataset['ShelveLoc'])
dataset['Urban'] = label_encoder.fit_transform(dataset['Urban'])
dataset['US'] = label_encoder.fit_transform(dataset['US'])

In [5]:
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [6]:
#independent & dependent variables
X = dataset.iloc[:,1:]
y = dataset['Sales']
print(y.min())
print(y.max())

0.0
16.27

In [7]:
dataset.insert(11,"sales_category",'')

In [8]:
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_category
0,9.50,138,73,11,276,120,0,42,17,1,1,
1,11.22,111,48,16,260,83,1,65,10,1,1,
2,10.06,113,35,10,269,80,2,59,12,1,1,
3,7.40,117,100,4,466,97,2,55,14,1,1,
4,4.15,141,64,3,340,128,0,38,13,1,0,

In [9]:
for i in range (0,len(dataset['Sales'])):
    if dataset['Sales'][i]>=0 and dataset['Sales'][i]<=6:
        dataset['sales_category'][i]='low'
    elif dataset['Sales'][i]> 6 and dataset['Sales'][i]<=9:
        dataset['sales_category'][i]='medium'
    elif dataset['Sales'][i]> 9:
        dataset['sales_category'][i]='high'
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_category
0,9.50,138,73,11,276,120,0,42,17,1,1,high
1,11.22,111,48,16,260,83,1,65,10,1,1,high
2,10.06,113,35,10,269,80,2,59,12,1,1,high
3,7.40,117,100,4,466,97,2,55,14,1,1,medium
4,4.15,141,64,3,340,128,0,38,13,1,0,low

In [10]:
dataset.sales_category.value_counts()

medium    157
low       130
high      113
Name: sales_category, dtype: int64

In [11]:
label_encoder = preprocessing.LabelEncoder()
dataset['sales_category']= label_encoder.fit_transform(dataset['sales_category'])

In [12]:
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_category
0,9.50,138,73,11,276,120,0,42,17,1,1,0
1,11.22,111,48,16,260,83,1,65,10,1,1,0
2,10.06,113,35,10,269,80,2,59,12,1,1,0
3,7.40,117,100,4,466,97,2,55,14,1,1,2
4,4.15,141,64,3,340,128,0,38,13,1,0,1

In [13]:
dataset['sales_category'].unique()

array([0, 2, 1])

In [14]:
dataset.sales_category.value_counts()

2    157
1    130
0    113
Name: sales_category, dtype: int64

In [15]:
X = dataset.iloc[:, 1:-1]
y = dataset.iloc[:,-1]

In [16]:
y

0      0
1      0
2      0
3      2
4      1
      ..
395    0
396    2
397    2
398    1
399    0
Name: sales_category, Length: 400, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2)

In [18]:
y_train

276    2
251    1
29     2
109    2
244    2
      ..
299    0
22     1
72     1
15     2
168    2
Name: sales_category, Length: 300, dtype: int64

In [19]:
#gini- decision tree

In [20]:
model = DecisionTreeClassifier(criterion='gini', min_samples_split=5,max_depth=10)

In [21]:
#checking accuracy training data
model.fit(X_train,y_train)
pred = model.predict(X_train)
pd.Series(pred).value_counts()

2    125
1     94
0     81
dtype: int64

In [22]:
metrics.accuracy_score(pred,y_train)

0.9466666666666667

In [23]:
#checking accuracy for testing data
model.fit(X_train,y_train)
pred = model.predict(X_test)
pd.Series(pred).value_counts()

2    38
0    34
1    28
dtype: int64

In [24]:
metrics.accuracy_score(pred,y_test)

0.64

In [25]:
#entropy-decision tree

In [26]:
model = DecisionTreeClassifier(criterion='entropy',min_samples_split=5)

In [27]:
model.fit(X_train,y_train)
pred = model.predict(X_test)
metrics.accuracy_score(pred,y_test)

0.59

In [28]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.61      0.63      0.62        30
           1       0.72      0.70      0.71        33
           2       0.46      0.46      0.46        37

    accuracy                           0.59       100
   macro avg       0.60      0.60      0.60       100
weighted avg       0.59      0.59      0.59       100

In [29]:
#Bagging

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

num_trees = 100
model = BaggingClassifier(max_samples=0.8, n_estimators=num_trees,random_state=8)

model.fit(X_train,y_train)
pred = model.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.68      0.70      0.69        33
           1       0.81      0.71      0.75        41
           2       0.58      0.63      0.60        46

    accuracy                           0.68       120
   macro avg       0.69      0.68      0.68       120
weighted avg       0.68      0.68      0.68       120

In [30]:
# Random Forest Classification

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=7)

num_trees = 120
max_features = 6

model = RandomForestClassifier(n_estimators=num_trees,max_samples=0.8, max_features=max_features, random_state = 8)

model.fit(X_train,y_train)

pred = model.predict(X_test)

print(classification_report(y_test,pred))

results = cross_val_score(model, X_train, y_train, cv=10)
print(results)
print(results.mean())

              precision    recall  f1-score   support

           0       0.70      0.64      0.67        25
           1       0.73      0.73      0.73        30
           2       0.68      0.71      0.70        45

    accuracy                           0.70       100
   macro avg       0.70      0.69      0.70       100
weighted avg       0.70      0.70      0.70       100

[0.6        0.56666667 0.7        0.76666667 0.8        0.6
 0.73333333 0.7        0.63333333 0.33333333]
0.6433333333333333