In [1]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import metrics

In [3]:
data = pd.read_csv("/content/Fraud_check.csv")

In [4]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [5]:
data.insert(6,"Tax_Condition",'')

In [6]:
for i in range(0, len(data['Taxable.Income'])):
    if data['Taxable.Income'][i] <= 30000:
        data['Tax_Condition'][i] = 'Risky'
    else:
        data['Tax_Condition'][i] = 'Good'

In [7]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Tax_Condition
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good

In [8]:
data['Tax_Condition'].value_counts()

Good     476
Risky    124
Name: Tax_Condition, dtype: int64

In [9]:
LE = preprocessing.LabelEncoder()

In [10]:
objlist = ['Undergrad','Marital.Status','Urban','Tax_Condition']
data[objlist] = data[objlist].apply(LE.fit_transform)

In [11]:
data.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban', 'Tax_Condition'],
      dtype='object')

In [12]:
data = data[['Undergrad','Marital.Status','City.Population','Work.Experience','Urban','Tax_Condition']]

In [13]:
data.head()

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Tax_Condition
0,0,2,50047,10,1,0
1,1,0,134075,18,1,0
2,0,1,160205,30,1,0
3,1,2,193264,15,1,0
4,0,1,27533,28,0,0

In [14]:
X = data.iloc[:,:-1]
Y = data.iloc[:,-1]

In [15]:
#building decision tree using gini

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

In [20]:
model = DecisionTreeClassifier(criterion='gini',min_samples_split=5,max_depth=10)

In [21]:
#checking accuracy for training data
model.fit(X_train,Y_train)
pred = model.predict(X_train)
metrics.accuracy_score(pred,Y_train)

0.8761904761904762

In [22]:
#checking accuracy for tyesting data
model.fit(X_train,Y_train)
pred = model.predict(X_test)
pd.Series(pred).value_counts()

0    168
1     12
dtype: int64

In [23]:
metrics.accuracy_score(pred,Y_test)

0.7333333333333333

In [24]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.78      0.92      0.85       142
           1       0.08      0.03      0.04        38

    accuracy                           0.73       180
   macro avg       0.43      0.47      0.44       180
weighted avg       0.63      0.73      0.68       180

In [25]:
#building decision tree using entropy

In [26]:
model = DecisionTreeClassifier(criterion='entropy',min_samples_split=5)

In [27]:
model.fit(X_train,Y_train)
pred = model.predict(X_test)
metrics.accuracy_score(pred,Y_test)

0.6611111111111111

In [28]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.79      0.77      0.78       142
           1       0.22      0.24      0.23        38

    accuracy                           0.66       180
   macro avg       0.51      0.51      0.51       180
weighted avg       0.67      0.66      0.67       180

In [29]:
#bagging

In [30]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

num_trees = 100
model = BaggingClassifier(max_samples=0.8, n_estimators=num_trees,random_state=8)

model.fit(X_train,Y_train)
pred = model.predict(X_test)
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.79      0.94      0.86       142
           1       0.20      0.05      0.08        38

    accuracy                           0.76       180
   macro avg       0.49      0.50      0.47       180
weighted avg       0.66      0.76      0.70       180